/*
Common classes that are used across pages
*/

.page-header {
  margin-bottom: $large-vertical-distance;

   @media(min-width: $desktop) {
     width: span(10 of 12);
     margin-left: auto; margin-right: auto;
   }
}

.page-header__subtitle {
  margin-top: $xsmall-vertical-distance;
  margin-bottom: 0;
}

.page-section {
  margin-bottom: $large-vertical-distance;
  @media (min-width: $tablet) {
    margin-bottom:$between-page-sections-distance;
  }
}