/*
Set styles for base elements (a, input, ul, li, img etc) for Uncommon website.
Can include some classes that are appropriate. For example: .button
*/

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    color: $tertiary-color;
  }
}

button, .button, input[type=submit] {
  @extend .button-type;
  background-color: $primary-color;
  height: $button-height;
  padding: 0 $small-horizontal-distance-in-px;
  border: none;
  color: $white;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
  }
}

// link that looks like a button
a.button {
  @extend .button;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-decoration: none;
}

a.button-with-icon, button.button-with-icon {
  $image-width: 24px; // image-width is 2.4rem
  // TODO: this is correct, but please fix the code writing for this.
  padding-left: $small-horizontal-distance-in-px + $image-width + 8px;
  padding-right: $small-horizontal-distance-in-px;
}

a.button-secondary, .button-secondary {
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: transparent;
}

select {
  background: white;
}

// Override style set by normalise.css
b, strong {
  font-weight: bold;
}

td {
  border-bottom: 1px solid $border-light-grey;
  padding: $xsmall-vertical-distance $small-horizontal-distance;
}

input[type='text'], input[type='email'], input[type='tel'], input[type='search'], select {
  height: 3.2rem;
}

form {
  width: 100%;
  * {
    width: 100%;
  }
}

label, .label{
  color: $text-light-grey;
  text-transform: uppercase;
}
