/*
Styles for typography
*/

// Note: We avoid using extends as a rule of thumb for the CSS overall.
// However, we are extending from typography.scss for cases where we do not have access to the html/php (since Wordpress
// is generating it)

@font-face {
  font-family: 'TiemposHeadline';
  src: url('assets/fonts/TiemposHeadline/TiemposHeadline-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'TiemposHeadline';
  font-weight: 500;
  src: url('assets/fonts/TiemposHeadline/TiemposHeadline-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'NationalTest';
  font-weight: 300;
  src: url('assets/fonts/NationalTest/NationalTest-Book.woff') format('woff');
}

@font-face {
  font-family: 'NationalTest';
  font-weight: 400;
  src: url('assets/fonts/NationalTest/NationalTest-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NationalTest';
  font-weight: 500;
  src: url('assets/fonts/NationalTest/NationalTest-Medium.woff') format('woff');
}

$body-font: "NationalTest", sans-serif;
$heading-font: "TiemposHeadline", serif;

html {
  // this sets 1rem to 10px.
  font-size: 62.5%;

  @media (min-width: $tablet) and (max-width: $max-page-width) {
    // set 1 rem to 10px when viewport width is 1200px (per requirements of design)
    font-size: 0.833333vw;
  }

  @media(min-width: $max-page-width) {
    font-size: 15px; // corresponds to 80px for h1.
  }
}


body {
  line-height: 1.2;
  // Note: Find the rest of the styles for body later in this document with .body1
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font;
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
  color: #1f1f4d;
}

h1, .h1 {
  font-size: 6.4rem;
  font-weight: 400;
}

h2, .h2 {
  font-size: 4.8rem;
  font-weight: 400;
}

h3, .h3 {
  font-size: 3.6rem;
  font-weight: 400;
}

h4, .h4 {
  font-size: 2.8rem;
  font-weight: 400;
}

h5, .h5 {
  font-size: 2.4rem;
  font-weight: 400;
}

h6, .h6 {
  font-size: 2.0rem;
  font-weight: 400;
}

.subtitle1 {
  font-size: 2.4rem;
  font-family: $body-font;
  font-weight: 300;
  color: #737380;
  // this is to override the margin set by p element (for the case when using .subtitle1 when p tag)
  margin: 0;
}

.subtitle2 {
  font-size: 2.0rem;
  font-family: $body-font;
  font-weight: 300;
  color: #737380;
  // this is to override the margin set by p element (for the case when using .subtitle1 when p tag)
  margin: 0;
}

body, .body1 {
  font-size: 1.8rem;
  font-family: $body-font;
  font-weight: 300;
  color: #1f1f4d;
}

.body2 {
  font-size: 1.6rem;
  font-family: $body-font;
  font-weight: 300;
  color: #737380;
}

// Typography style for button is named as .button-type (to avoid conflict with .button)
.button-type {
  // button font-size set in px - we don't want it to scale with vw
  font-size: 18px;
  font-family: $body-font;
  font-weight: 300;
  text-transform: uppercase;
}

.caption {
  font-size: 1.6rem;
  font-family: $body-font;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #1f1f4d;
}

.tag {
  font-size: 1.4rem;
  font-family: $body-font;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #1f1f4d;
  text-transform: uppercase;
}


@media (max-width: $tablet) {
  h1, .h1 {
    font-size: 2.8rem;
  }

  h2, .h2 {
    font-size: 2.4rem;
  }

  h3, .h3 {
    font-size: 2.0rem;
  }

  h4, .h4 {
    font-size: 1.8rem;
  }

  h5, .h5 {
    font-size: 1.8rem;
  }

  h6, .h6 {
    font-size: 1.8rem;
  }

  .subtitle1 {
    font-size: 1.6rem;
  }

  .subtitle2 {
    font-size: 2.0rem;
  }

  body, .body1 {
    font-size: 1.6rem;
  }

  .body2 {
    font-size: 1.4rem;
  }

  // Typography style for button is named as .button-type (to avoid conflict with .button)
  .button-type {
    font-size: 1.4rem;
  }

  .caption {
    font-size: 1.2rem;
  }

  .tag {
    font-size: 1.2rem;
  }

}

