
// Set for containers with a maximum width.
.limited-width {
  width: 100%;
  max-width: $max-page-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $small-horizontal-distance;

  @media(min-width: $phablet) {
    padding-right: 8.5vw;
    padding-left: 8.5vw;
  }
}

// Set for elements that are within limited width containers, and need to stretch to full width of the browser (outside of
// their containers)
// This class is also set from the Wordpress admin (on new case study or blog post content) on images/elements that
// need to be full width

// Note on naming: Although this class is used in js, it is not prefixed by 'js'. This is since it is used in the WP Admin,
// by users and needs to be simply named
.full-width {
  width: 100vw !important;  // !important overrides width property if set by Wordpress
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  display: block; // display: block since the element needs to occupy the entire row
  max-width: unset; // unset the max-width:100% property that is set for all images.
}

// TODO: name and write this class better.
.full-width-without-important {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  display: block; // display: block since the element needs to occupy the entire row
  max-width: unset; // unset the max-width:100% property that is set for all images.
}

/* Unset width property set to a parent of a full-width element. This is particularly required */
.js-full-width-parent {
  width: unset !important;
}

/*
Add following classes where the container is full width, and the content within is limited width.
For example: the "partner with us" block. Has a full width background color, and the text content is limited width.
*/
.full-width-container {
  @extend .full-width;
}

.full-width-container__limited-width-content {
  @extend .limited-width;
}

// applies display: none property to the element
.display-none {
  display: none !important;
}

// applies display: block property to the element
.display-block {
  display: block !important;
}