/*
Styles for Wordpress classes
*/

.wp-caption-text {
  //@include text-small;
  text-align: center;
  margin-top: $xsmall-vertical-distance;
}

// To create left, right, center aligned images and elements.
// Refer to: https://codex.wordpress.org/Wrapping_Text_Around_Images
.alignright { float: right; margin: 0 0 $xsmall-vertical-distance $small-horizontal-distance; }
.alignleft { float: left; margin: 0 $small-horizontal-distance $xsmall-vertical-distance 0; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
//.alignright { float: right; }
//.alignleft { float: left; }
//.aligncenter { display: block; margin-left: auto; margin-right: auto; }

// Ensure that the width of the container div 'wp-caption', which is set by Wordpress, does not exceed 100%
.wp-caption {
  max-width: 100%;
}