.case-studies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-studies-list__case-study {

}

.case-study {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-bottom: $xlarge-vertical-distance;
  position: relative;

  &:nth-child(2n) {
    justify-content: flex-end;

    .case-study__text {
      left: 0;
    }
  }

  &:last-child {
    margin-bottom: $medium-vertical-distance;
  }

  @media(min-width: $tablet) {
    width: span(10 of 12);
    flex-direction: row;
  }
}

.case-study__image {
  overflow: hidden;
  width: 100%;
  height: 20rem;

  a {
    // Since the container has overflow:hidden, the outline does not show on focus.
    // Set a negative outline-offset equal to the width of the outline for it to be visible on the image.
    outline-offset: -5px;
  }

  .case-study__image__img {
    object-fit: cover;
    height: 100%;
    width: 100%;

    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media(min-width: $tablet) {
    width: span(8 of 10);
    height: 40rem;
  }
}

.case-study__text {
  background: $white;
  padding: $small-horizontal-distance;

  @media(min-width: $tablet) {
    width: span(5 of 10);
    position: absolute;
    bottom: 0;
    left: span(6 of 10);
    padding: $medium-horizontal-distance;
  }
}

//.case-study__text__title {
//  @include text-large;
//}

.case-study__text__metadata {
  margin-bottom: $xsmall-vertical-distance;
}

.case-study__text__metadata__client-name {
  //@include text-small;
  //text-transform: uppercase;
  //color: $tertiary-color;
  //font-weight: bold;
}

// Pagination Control

.pagination-row {
  position: relative;
  font-weight: bold;
}
.pagination-row__element {
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  border: 1px solid $border-light-grey;
  border-radius: 4px;

  line-height: 1;
  padding-top: $xsmall-vertical-distance;
  padding-bottom: $xsmall-vertical-distance;
}

.pagination-row__element__page-number {
  padding-left: $large-horizontal-distance;
  padding-right: $large-horizontal-distance;

  font-size: 1.6rem;
}

.pagination-row__element__prev-posts-link, .pagination-row__element__next-posts-link {
  // increase the clickable area of the next and previous links
  a {
    display: inline-block;
    padding-left: $small-horizontal-distance;
    padding-right: $small-horizontal-distance
  }
}