//@mixin label-above-input {
//  top: -20px; bottom: unset;
//  font-size: $small-font-size;
//  color: $primary-color;
//  font-weight: 600;
//}
//
//
//.form {
//  width: 100%;
//
//  * {
//    width: 100%;
//  }
//}
//
//.form__group {
//  position: relative;
//  margin-bottom: $medium-vertical-distance;
//}
//
//.form__group__input {
//  bottom: 0;
//  border: none;
//  border-bottom: 1px solid $body-text-color;
//  padding: $xsmall-horizontal-distance; padding-left: 0;
//  z-index: 1000;
//
//  &:focus {
//    outline: 0;
//    border-bottom: none;
//  }
//  //
//  //&:focus ~ .form__group__label--input, &.js-has-value ~ .form__group__label--input {
//  //  @include label-above-input;
//  //}
//}
//
//
//.form__group__bar {
//  position:relative;
//  display:block;
//  width: 100%;
//
//  &:before, &:after {
//    content:'';
//    height:2px;
//    width:0;
//    bottom:1px;
//    position:absolute;
//    background: $primary-color;
//    transition:0.2s ease all;
//  }
//
//  &:before {
//    left:50%;
//  }
//
//  &:after {
//    right:50%;
//  }
//}
//
//.form__group__label--input {
//  position: absolute;
//  left: 0;
//  bottom: 0;
//  z-index: 500;
//
//  transition:0.2s ease all;
//}
//
//// Move the label up when 1) no-js  2) sibling input has focus, or 3) input has a value
//.no-js .form__group__label--input,
//.form__group__label--input.js-sibling-has-focus,
//.form__group__label--input.js-sibling-has-value,
//.form__group__input.js-has-value .form__group__label {
//  @include label-above-input;
//}
//
//.js-bar.js-sibling-has-focus, .form__group__input:focus ~ .form__group__bar {
//  &:before, &:after {
//    width:50%;
//  }
//}
//
//.no-js .form__group__label {
//  @include label-above-input;
//}


/*
Form Contact Form 7
*/

//.wpcf7-form {
//  @extend .form;
//
//  .group {
//    @extend .form__group;
//  }
//
//  label {
//    @extend .form__group__label;
//  }
//
//  .label--input-text {
//    @extend .form__group__label--input;
//  }
//
//  input[type="text"], input[type="email"] {
//    @extend .form__group__input;
//  }
//
//  br {
//    display: none;
//  }
//}


/* Updated CSS for form */

form {
  .group {
    margin-bottom: $xsmall-vertical-distance;
  }
}