.menu {
  list-style: none;
  padding-left: 0; //Remove the default left padding of ul

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  @media(max-width: $phablet) {
    display: none;
  }
}

.menu-item {
  margin-right: $large-horizontal-distance;

  a {
    @extend .button-type;
    color: $text-light-grey;
  }
}