.pre-footer {
  border-top: 1px solid $primary-color;
  // unset the margin-bottom previously set to section elements
  margin-bottom: 0;
  padding-top: $medium-vertical-distance;
  padding-bottom: $large-vertical-distance;
}

.pre-footer__title {
  text-align: center;
  margin-bottom: $large-vertical-distance;
}

.pre-footer__sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.pre-footer__sections__section {
  text-align: center;
  width: span(11 of 12);
  margin: auto;

  @media (min-width: $tablet) {
    width: span(4 of 12);
  }

  .button {
    width: 100%;
    margin-top: $smedium-vertical-distance;
  }
}

.pre-footer__sections__section:first-child {
  margin-bottom: $large-vertical-distance;

  @media (min-width: $tablet) {
    margin-left: span(1 of 12);
    // unset the margin-bottom set for mobile design
    margin-bottom: unset;
  }
}

.pre-footer__sections__section:last-child {
  @media (min-width: $tablet) {
    margin-right: span(1 of 12);
  }
}