<form action="" class="form" autocomplete="off">

    <div class="form__group" >
        <label class="form__group__label" for="contact-form__looking-for">What are you looking for?</label>

        <select id="contact-form__looking-for" class="form__group__select">
            <option value="business-inquiry">Business Inquiry</option>
            <option value="job">Looking for a Job</option>
            <option value="general-inquiry">General Inquiry</option>
        </select>
    </div>

    <div class="form__group">
        <label class="form__group__label form__group__label--input" for="contact-form__name">Name</label>
        <input class="form__group__input" type="text" id="contact-form__name" autocomplete="off" required>
        <span class="form__group__bar"></span>
    </div>

    <div class="form__group">
        <label class="form__group__label form__group__label--input" for="contact-form__email">Your Email Address</label>
        <input class="form__group__input" type="email" id="contact-form__email" autocomplete="off" required>
        <span class="form__group__bar"></span>
    </div>

    <div class="form__group">
        <label class="form__group__label" for="contact-form__budget">Your Budget</label>

        <select class="form__group__select" id="contact-form__budget">
            <option value="business-inquiry">&#8377;2,50,000 - &#8377;5,00,000</option>
            <option value="business-inquiry">Above &#8377;5,00,000</option>
        </select>

    </div>

    <div class="form__group">
        <label class="form__group__label form__group__label-textarea" for="contact-form__project-description">Tell us more about your project</label>

        <textarea class="form__group__textarea" id="contact-form__project-description" cols="30" rows="5"></textarea>
    </div>

    <div class="form__group">
        <button class="form__group__button">Send</button>
    </div>

</form>