<table cellspacing="0">
    <thead>
    <tr>
        <th>Header 1</th>
        <th>Header 2</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Row 1, Col 1</td>
        <td>Row 1, Col 2</td>
    </tr>
    <tr>
        <td>Row 2, Col 1</td>
        <td>Row 2, Col 2</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2">The table footer</td>
    </tr>
    </tfoot>
</table>