/*
Contains styles for 1) page grid, and 2) page layout - includes the header, footer and main container
*/

$susy: (
  'columns': susy-repeat(12),
  'gutters': 1.2rem
);

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Global Header */
.global-header {
}

.global-header__content {
  height: $button-height;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: $medium-horizontal-distance;
  padding-right: $medium-horizontal-distance;
}

.global-header__logo {
  margin-right: auto;
  text-decoration: none;
}

.button.global-header__contact-us-button {
  @media (max-width: $tablet) {
    display: none;
  }
}

.global-main {
  margin-top: $large-vertical-distance;
}

/* Global Footer */
.global-footer {
  margin-top: auto;
  border-top: 1px solid $border-light-grey;
}

.global-footer__content {
  padding: $large-horizontal-distance 0;
}

.global-footer__content__navigation {

  ul {
    margin-top: 0; margin-bottom: 0;
  }

  // Overrides styles set in _navigation-menu.scss
  .menu-item {
    margin-right: $large-horizontal-distance;

    a {
      @extend .button-type;
    }
  }
}
