/******************
Variables for Colors
******************/

// TODO: Refer to Material Design color system for naming
// TODO: Review the colors, and name them as primary, secondary, tertiary, background, surface, on-primary, on-secondary etc.

$primary-color: #e62243;
$secondary-color: #1f1f4d;
$tertiary-color: #4a90e2;
$body-text-color: #1f1f4d;

$white: #ffffff;
$black: rgba(0, 0, 0, 0.80);
$text-light-grey: #737380;
$background-light-grey: #f6f6f6;
$background-dark-grey: #4b4e53;
$border-light-grey: rgba(0, 0, 0, 0.12);

$background-blue: #4a90e2;
$background-light-blue: rgba(225, 236, 239, 0.36);;


/******************
Variables for Lengths
******************/

$max-page-width: 1920px;

$xsmall-horizontal-distance: 0.8rem;
$small-horizontal-distance: 1.6rem;
$medium-horizontal-distance: 2.4rem;
$large-horizontal-distance: 4.0rem;

$small-horizontal-distance-in-px: 16px;

$xsmall-vertical-distance: 0.8rem;
$small-vertical-distance: 1.6rem;
$smedium-vertical-distance: 2.4rem;
$medium-vertical-distance: 4rem;
$large-vertical-distance: 8rem;
$xlarge-vertical-distance: 16.0rem;

$between-page-sections-distance: 20.0rem;



// button height fixed in px, for desktop and mobile
$button-height: 56px;

// Breakpoints for responsive design
$mobile: 400px;
$phablet: 550px;
$tablet: 750px;
$desktop: 1000px;
$desktopHD: 1200px;
