.people {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @media(min-width: $desktop) {
    flex-direction: row;
  }
}

.people__person {
  width: span(12 of 12);
  margin-bottom: $small-vertical-distance;
  //margin-right: gutter(12);

  @media(min-width: $desktop) {
    width: span(3 of 12);
  }
}

.people__person__image {
  height: 32rem;
  width: 100%;
  object-fit: cover;
}

.people__person__name, .people__person__designation {
  text-align: center;
  margin: 0;
}

.people__person__name {
  margin-top: $xsmall-vertical-distance;
}

.people__person__designation {
  margin-bottom: $small-vertical-distance;
}