
.main-case-study {
  // Increase the specificity of full-width styles.
  // In the case that an img or element has both .full-width and .aligncenter applied, we want the .full-width styles
  // to apply.
  .full-width {
    @extend .full-width;
  }
}

.main-case-study__featured-image-container {
  @extend .full-width;
}

.main-case-study__featured-image {
  width: 100%;
}

.main-case-study__header {
  padding: $small-vertical-distance 0;
}

.main-case-study__tags {
  margin-top: $small-vertical-distance/2;
}

.main-case-study__content {
  padding-top: $small-vertical-distance;

  @media(min-width: $desktop) {
    width: span(10 of 12);
    margin: auto;
  }
}

.main-case-study__title {
  margin-bottom: 0;
}