.main-contact {
  background: $background-light-grey;
  padding-top: $large-vertical-distance;
  padding-bottom: $large-vertical-distance * 2;

  padding-left: span(1 of 12);
  padding-right: span(1 of 12);

  margin-left: -$large-horizontal-distance;
  margin-right: -$large-horizontal-distance;

  display: flex;
  flex-direction: column;

  @media(min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .page-header {
    width: 100%;
    margin-bottom: $small-vertical-distance;
  }
}

.main-contact__form-container {
  width: span(7 of 12);
  padding: $medium-horizontal-distance;

  background: white;
}

.main-contact__form-container__form {
  width: 100%;
}

.main-contact__address-container {
  //@include text-smaller-than-body;
  width: span(4 of 12 wider);
  padding: $medium-horizontal-distance;
  background: white;
}

.address-container__google-map a {
  color: $primary-color;
}

.main-contact__form-container__thank-you-message {
  display: none;
}