body.page-home {
  .global-main {
    margin-top: 0;
  }
}

.main-home__hero-container {
  padding-bottom: $medium-vertical-distance;
}

.main-home__hero {
  display: flex;
  flex-direction: column;

  margin-top: $medium-vertical-distance;

  @media(min-width: $tablet) {
    background-image: url("assets/images/home/phone.png"), url("assets/images/home/strategist.png"), url("assets/images/home/parachutist.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 100% bottom 100px, left span(8.5 of 12 wide) bottom 100px, span(2 of 12) 0;
    background-size: span(3 of 12 wide) auto, span(1 of 12) auto, span(2 of 12) auto;

    // this value comes from the paddings set in .main-home__hero__content (23.6 - 10rem)
    margin-bottom: 13.6rem;
    margin-top: 0;
  }
}

.main-home__hero__content {
  @media(min-width: $tablet) {
    width: span(8 of 12);
    padding-top: 20rem;
    padding-bottom: 10rem;
  }
}

.main-home__hero__content__subtitle {
  @media (min-width: $tablet) {
    width: span(7 of 8);
  }
}

.main-home__hero__content-images {
  margin-top: $small-vertical-distance;
  position: relative;
  display: flex;
  justify-content: flex-end;
  @media (min-width: $tablet) {
    display: none;
  }
}

.hero-images__image-phone {
  width: span(6 of 12);
  height: auto;
  object-fit: contain;
  align-self: flex-start;
}

.hero-images__image-parachutist {
  width: span(4.5 of 12);
  position: absolute;
  left: 0;
  top: 0;
}

.hero-images__image-strategist {
  width: span(2.5 of 12);
  position: absolute;
  left: 4rem;
  bottom: 0;
}

.client-testimonial {
  display: flex;
  justify-content: space-between;
  flex-direction: column;


  @media(min-width: $tablet) {
    flex-direction: row;
  }
}

.client-testimonial__container-left {
  position: relative;
  @extend .full-width-without-important;

  @media (min-width: $tablet) {
    // unset the properties set by .full-width-without-important
    // TODO: write a standardised way to handle this.
    left: unset; right: unset;
    margin-left: unset; margin-right: unset;

    width: span(6 of 12);
  }
}

.client-testimonial__container-right {
  position: relative;
  padding-left: $large-horizontal-distance;
  padding-top: $medium-vertical-distance;
  margin-top: $medium-vertical-distance;

  @media (min-width: $tablet) {
    width: span(6 of 12);
    margin-top: 0;
  }
}

.client-testimonial__container-left__image {
  // To remove the extra space below image as an inline element. This is the space for 'descenders' of letters.
  display: block;
  width: 100%;
  @media(min-width: $desktop) {
    width: 49rem;
    height: 27.5rem;
  }
}

.client-testimonial__container-left__image-background {
  @media(min-width: $desktop) {
    position: absolute;
    left: span(2 of 6);
    top: - 9.6rem;
    z-index: -1;

    width: 49rem;
    height: 27.5rem;
    background-color: $background-light-blue;
  }
}

.client-testimonial__container-left__button {
  background-image: url("assets/images/home/play_arrow_24px.svg");
  background-repeat: no-repeat;
  background-position: $small-horizontal-distance-in-px center;

  position: absolute;
  bottom: 0;
  left: 0;

  @media(min-width: $desktop) {

  }
}

.client-testimonial__container-right__open-quote-image {
  font-size: 6.4rem;
  font-family: $heading-font;
  position: absolute;
  left: - gutter(12);
  padding-left: $small-horizontal-distance;
  top: 0;

  @media (min-width: $tablet) {
    font-size: 9.6rem;
  }
}

.client-testimonial__container-right__client-detail {
  .client-title {
    color: $text-light-grey;
  }
}

.client-testimonial__container-right__text {
}

.featured-case-studies__title {
  margin-bottom: $xlarge-vertical-distance;
}

.featured-case-studies-description {
  margin-bottom: $xlarge-vertical-distance;
  padding: $medium-vertical-distance 0;
}

.featured-case-studies-description__content {
  width: span(10 of 12);
  margin-left: auto;
  margin-right: auto;
}