.main-services {
  .page-header {
    margin-bottom: 0;
  }
}


.page-hero__image {
  margin-bottom: $medium-vertical-distance;
}

.page-hero__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;

  // These classes are set in WP Admin in Pages - > Services - > hero_content
  .heading {
    font-weight: bold;
    margin-bottom: $small-vertical-distance;
  }

  .strategy, .design, .development {
    background-repeat: no-repeat;
    width: span(12 of 12);
    margin-bottom: $small-vertical-distance;

    // width of icon (24px) + $small-horizontal padding (1.2rem = 12px)
    padding-left: 24px + 12px;

    @media(min-width: $tablet) {
      width: span(4 of 12);
    }
  }

  .strategy
  {
    background-image: url('assets/images/services/icon-compass.svg');

    @media(min-width: $tablet) {
      margin-top: -$xlarge-vertical-distance;
    }
  }

  .design
  {
    background-image: url('assets/images/services/icon-pencil.svg');
    @media(min-width: $tablet) {
      margin-top: -$large-vertical-distance;
    }
  }

  .development
  {
    background-image: url('assets/images/services/icon-wrench.svg');
    @media(min-width: $tablet) {
      margin-top:-$medium-vertical-distance;
    }
  }
}

.services-section {
  margin-left: auto; margin-right: auto;
  margin-bottom: $xlarge-vertical-distance;

  display: flex;
  flex-direction: column;
  align-items: center;

  &:last-child {
    margin-bottom: $medium-vertical-distance;
  }

  @media (min-width: $desktop) {
    width: span(10 of 12);
    flex-direction: row;
    justify-content: space-between;

    &:nth-child(2n+1) {
      flex-direction: row-reverse;
    }
  }
}

.services-section__content {
  @media (min-width: $desktop) {
    width: span(8 of 10);
  }
}

.services-section__content__link {
  display: block;
}

.services-section__image {
  width: span(6 of 12);
  @media (min-width: $desktop) {
    width: span(2 of 10);
  }
}

